<ion-view title="[abcPOS]">
  <ion-content class="padding">
   
      <div class="list card">

  <div class="item item-avatar">
    <img src="img/YPF_large.png">
    <h2>Puntos de venta y Novedades</h2>
    <p>Mobility solutions </p>
  </div>

  <div class="item item-body">
    <img class="full-image" src="img/ruta.jpg">
    <p>
      La app de puntos de venta y novedades te permitirá encontrar las estaciones de servicio más cercanas a tu ubicación actual y aprovechar las últimas promociones. 
    </p>
    <p>
      <a href="#" class="subdued">1 Like</a>
      <a href="#" class="subdued">5 Comments</a>
    </p>
  </div>

  <div class="item tabs tabs-secondary tabs-icon-left">
    <a class="tab-item" href="#">
      <i class="icon ion-thumbsup"></i>
      Like
    </a>
    <a class="tab-item" href="#">
      <i class="icon ion-chatbox"></i>
      Comment
    </a>
    <a class="tab-item" href="#">
      <i class="icon ion-share"></i>
      Share
    </a>
  </div>

</div>
      
  </ion-content>
</ion-view>
